<%- include("./include/header") %>
    <!--Main content-->
    <div class="site-body">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-transparent mb-0">
                <li class="breadcrumb-item"><a href="/<%=dashboard%>"><i class="fas fa-home"></i> Dashboard</a></li>
                <li class="breadcrumb-item"><a href="/<%=dashboard%>/ads2">Ads2</a></li>
                <li class="breadcrumb-item active" aria-current="page">List Ads</li>
            </ol>
        </nav>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="datatable-search-header">
                                <select id="slBulk">
                                    <option value="">Bulk actions</option>
                                    <option value="delete">Delete</option>
                                </select>
                                <button id="btnBulk" type="button" class="btn btn-primary">Apply</button>
                                <div class="datatable-filter-holder">
                                    <input class="item-filter" type="text" placeholder="Search">                                    
                                    <select class="item-filter">
                                        <option value="%">All Status</option>
                                        <option value="on">Avaiable</option>
                                        <option value="off">Disabled</option>
                                    </select>
                                    <button id="btnDTFileter" type="button" class="btn btn-primary">Filter</button>
                                </div>
                                <button class="btn btn-sm btn-outline-primary btn-load-modal-add">Add Ads</button>
                            </div>
                            <table id="datatable-sside" class="table table-bordered datatable-style" data-type="ads2">
                                <thead>
                                    <tr>
                                        <th><input type="checkbox" name="select_all" value="1" id="datatable-select-all"></th>
                                        <th>Ads Code</th>
                                        <th>Name</th>
                                        <th>Author</th>                                        
                                        <th>Header All</th>
                                        <th>Header Home</th>
                                        <th>Lazy</th>
                                        <th>Off Ads</th>
                                        <th>Default</th>
                                        <th class="text-center"><i class="fas fa-power-off"></i></th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
    <!-- Model -->
    <div class="modal fade" id="frmModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"><span id="frmTitleAction">Edit</span> Ads</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
                </div>
                <div class="modal-body">
                    <div class="error-modal-edit"></div>
                    <form action="/<%=dashboard%>/ads2/edit" method="POST">
                        <input type="hidden" name="id" id="id" autocomplete="off" required>
                        <div class="form-group">
                            <label for="adscode" class="col-form-label">Ads Code</label>
                            <input class="form-control" type="text" name="adscode" id="adscode" placeholder="Ads Code">
                        </div>                        
                        <div class="form-group">
                            <label for="name" class="col-form-label">Name</label>
                            <input class="form-control" type="text" name="naame" id="name" placeholder="Name">
                        </div>
                        <div class="form-group">
                            <label for="slot1" class="col-form-label">Trang single slot 1</label>
                            <textarea class="form-control" name="slot1" id="slot1" placeholder="Trang single slot 1"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="slot2" class="col-form-label">Trang single slot 2</label>
                            <textarea class="form-control" name="slot2" id="slot2" placeholder="Trang single slot 2"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="slot3" class="col-form-label">Trang single slot 3</label>
                            <textarea class="form-control" name="slot3" id="slot3" placeholder="Trang single slot 3"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="slot4" class="col-form-label">Trang single slot 4</label>
                            <textarea class="form-control" name="slot4" id="slot4" placeholder="Trang single slot 4"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="slot5" class="col-form-label">Trang download slot 1</label>
                            <textarea class="form-control" name="slot5" id="slot5" placeholder="Page download slot 1"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="slot6" class="col-form-label">Trang download slot 2</label>
                            <textarea class="form-control" name="slot6" id="slot6" placeholder="Page download slot 2"></textarea>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="checkbox">
                                    <input class="form-check-input" type="checkbox" name="appearheader" id="appearheader">
                                    <label class="form-check-label" for="appearheader">Load in header home</label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="checkbox">
                                    <input class="form-check-input" type="checkbox" name="islazy" id="islazy">
                                    <label class="form-check-label" for="islazy">Lazy load</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="checkbox">
                                    <input class="form-check-input" type="checkbox" name="isheader" id="isheader">
                                    <label class="form-check-label" for="isheader">Load in header all</label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="checkbox">
                                    <input class="form-check-input" type="checkbox" name="offads" id="offads">
                                    <label class="form-check-label" for="offads">Turn off this Ads</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="checkbox">
                                    <input class="form-check-input" type="checkbox" name="isdefault" id="isdefault">
                                    <label class="form-check-label" for="isdefault">Default for Apk</label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="checkbox">
                                    <input class="form-check-input" type="checkbox" name="isblock" id="isblock">
                                    <label class="form-check-label" for="isblock">Block</label>
                                </div>
                            </div>
                        </div>
                        <div class="text-right mt-3">
                            <button type="submit" class="btn btn-primary">Apply</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="/<%=dashboard%>/assets/datatables/datatable.ads2.js" charset="utf-8"></script>
    <script src="/<%=dashboard%>/assets/datatables/datatable.all.js" charset="utf-8"></script>
    <%- include("./include/footer") %>