<%- include("./include/header") %>
    <!--Main content-->
    <div class="site-body">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-transparent mb-0">
                <li class="breadcrumb-item">
                    <a href="/<%=dashboard%>">
                        <i class="fas fa-home"></i> Dashboard
                    </a>
                </li>
                <li class="breadcrumb-item">
                    <a href="/<%=dashboard%>/post/<%=type.id%>">
                        <%=type.name%>
                    </a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">List
                    <%=type.name%>
                </li>
            </ol>
        </nav>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="datatable-search-header">
                                <select id="slBulk">
                                    <option value="">Bulk actions</option>
                                    <option value="trash">Trash</option>                                                                 
                                    <option value="delete">Delete</option>                                                                 
                                </select>
                                <button type="button" id="btnBulk" class="btn btn-primary">Apply</button>
                                <div class="datatable-filter-holder">
                                    <input type="text" placeholder="Search">
                                    <% if(Object.keys(type.catetype).length > 0 && Object.keys(categories).length > 0){%>
                                        <% type.catetype.forEach(catetype => { %>
                                            <select class="item-filter">
                                                <option value="%">All <%=catetype.name%></option>                                                                        
                                                <% categories.forEach(item => { %>
                                                    <% if(catetype.slug == item.catetype){%>
                                                    <option value="<%=item.id%>"><%=item.title%></option>
                                                    <% item.Childrens.forEach(child => { %>
                                                        <option value="<%=child.id%>">&rarr; <%=child.title%></option>
                                                    <% }) %>
                                                    <%}%>
                                                <% }) %>                                   
                                            </select>
                                        <% }) %>
                                    <%}%>
                                    <select class="item-filter">
                                        <option value="%">All Ads</option>
                                        <% if(adss){%>                                    
                                            <% adss.forEach(item => { %>
                                                <option value="<%=item.id%>"><%=item.name%></option>
                                            <% }) %>
                                        <%}%>
                                    </select>
                                    <select class="item-filter">
                                        <option value="%">Ads All</option>
                                        <option value="on">On</option>
                                        <option value="off">Off</option>
                                    </select>
                                    <select class="item-filter item-trash">
                                        <option value="%">All posts</option>
                                        <option value="published">Published</option>
                                        <option value="pendding">Pendding</option>
                                        <option value="trash">Trash</option>
                                    </select>
                                    <button type="button" id="btnDTFileter" class="btn btn-primary">Filter</button>
                                </div>
                                <a href="/<%=dashboard%>/post/<%=posttype%>/add" class="btn btn-sm btn-outline-primary">Add new</a>
                            </div>
                            <table id="datatable-sside" class="table table-bordered datatable-style" data-type="post/<%=posttype%>">
                                <thead>
                                    <tr>
                                        <th><input type="checkbox" name="select_all" value="1" id="datatable-select-all"></th>
                                        <th>Title</th>
                                        <th>Author</th>
                                        <th>Categories</th>
                                        <th>Ads</th>
                                        <th class="text-center"><i class="fas fa-money-bill-alt" title="Check Ads"></i></th>
                                        <th class="text-center"><i class="fas fa-globe-americas" title="All languages"></i></th>
                                        <th class="text-center"><i class="fas fa-capsules" title="Allow Follow"></th>
                                        <th class="text-center"><i class="fas fa-boxes" title="Allow Index"></th>
                                        <th class="text-center"><i class="fas fa-power-off" title="Post status"></th>
                                        <th class="text-right"><i class="fas fa-comments" title="Count of comments"></i></th>
                                        <th class="text-right" style="max-width: 120px;"><i class="fas fa-clock" title="Last modified at"></i></th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        var posttype = "<%=posttype%>";
    </script>
    <script src="/<%=dashboard%>/assets/datatables/datatable.post.js" charset="utf-8"></script>
    <script src="/<%=dashboard%>/assets/datatables/datatable.all.js" charset="utf-8"></script>
    <%- include("./include/footer") %>