<%
    var page = (typeof page !== "undefined") ? page : {};
    var pageContent = (page.pageContent) ? page.pageContent : {};
    var homeUrl = (page.curLang.ismain) ? domain : `${domain}/${page.curLang.id}`;
    var curUrl = `${homeUrl}/${page.pageContent.fullslug}`;
    var apks = (page.apkNewUpdate && page.apkNewUpdate.rows) ? page.apkNewUpdate.rows : [];
    var sort = (page.sort) ? page.sort : "updated";
    var categories = (page.catesSidebar) ? page.catesSidebar : [];
    var cateApp = (page.appsSidebar) ? page.appsSidebar : [];
    var role = (page.role) ? page.role : {};
    var userRole = (page.userRole) ? page.userRole : {};
%>
<%- include("includes/header"); %>
<main class="main-mr-top">
    <div class="py-2">
        <div class="container">
            <%- page.breadcrumbs.html %>
        </div>
    </div>
    <div class="container mr-top-3">
        <div class="row">
            <main class="col-12 col-lg-9 content-area">
                <section class="bg-white border shadow-sm pt-3 mb-3">
                    <h1 class="h5 font-weight-semibold mb-0 font-h1">
                        <%-pageContent.title%>
                    </h1>
                    <div class="row">
                        <%- include("includes/list-apk2", {posts: apks}); %>
                    </div>
                    <div>
                        <ul class="pagination">
                            <%-page.pagination%>
                        </ul>
                    </div>
                </section>
            </main>
            <aside class="col-12 col-lg-3 widget-area">
                <section class="bg-white border rounded shadow-sm pt-3 px-2 px-md-3 mb-3">
                   
                    <header class="d-flex align-items-end mb-3">
                        <a class="text-body" href="<%=homeUrl%>/games/">
                            <h2 class="h5 font-weight-semibold mb-0">
                                Games
                            </h2>
                        </a>
                        <a class="btn btn-primary btn-sm ml-auto" href="<%=homeUrl%>/games/">View More</a>
                    </header>
                    <div class="row">
                        <%- include("includes/list-category", {categories: categories}); %>
                    </div>
                   
                </section>
                <section class="bg-white border rounded shadow-sm pt-3 px-2 px-md-3 mb-3">
                    <header class="d-flex align-items-end mb-3">
                        <a class="text-body" href="<%=homeUrl%>/apps/">
                            <h2 class="h5 font-weight-semibold mb-0">
                            Apps
                            </h2>
                        </a>
                        <a class="btn btn-primary btn-sm ml-auto" href="<%=homeUrl%>/apps/">View More</a>
                    </header>
                    <div class="row">
                        <%- include("includes/list-category", {categories: cateApp}); %>
                    </div>
                </section>
            </aside>
        </div>
    </div>

    <%
        if(userRole.rolename == role.rolename && userRole.ismaster == role.ismaster){
    %>
        <div class="sidebar-add">
            <button class="add-new">
                <a href="/<%=dashboard%>/post/post-apk/add">
                    <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="512.000000pt"
                    height="512.000000pt" viewBox="0 0 512.000000 512.000000"
                    preserveAspectRatio="xMidYMid meet">
                    <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)" fill="#ffffff"
                        stroke="none">
                        <path d="M2492 5109 c-45 -13 -108 -80 -121 -126 -7 -26 -11 -392 -11 -1130
                            l0 -1093 -1113 -2 -1113 -3 -41 -27 c-63 -41 -88 -90 -88 -169 0 -54 5 -72 27
                            -106 15 -22 44 -51 65 -64 l38 -24 1112 -3 1113 -2 2 -1113 3 -1112 24 -38
                            c13 -21 42 -50 64 -65 34 -23 52 -27 107 -27 55 0 73 4 107 27 22 15 51 44 64
                            65 l24 38 3 1112 2 1113 1113 2 1112 3 38 24 c21 13 50 42 65 64 23 34 27 52
                            27 107 0 55 -4 73 -27 107 -15 22 -44 51 -65 64 l-38 24 -1112 3 -1113 2 -2
                            1113 -3 1112 -24 38 c-47 76 -151 113 -239 86z" />
                    </g>
                </svg>
                </a>
            </button>
            <button class="eidt">
                <a href="/<%=dashboard%>/post/post-apk">
                    <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="512.000000pt"
                    height="512.000000pt" viewBox="0 0 512.000000 512.000000"
                    preserveAspectRatio="xMidYMid meet">

                    <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)" fill="#ffffff"
                        stroke="none">
                        <path d="M4135 5099 c-27 -6 -79 -24 -115 -41 -56 -27 -99 -65 -315 -279
                            l-250 -248 522 -523 523 -523 251 250 c137 138 270 276 293 307 81 106 96 245
                            41 367 -21 45 -74 104 -288 319 -268 271 -340 330 -431 357 -67 20 -170 26
                            -231 14z" />
                                        <path d="M1860 2935 l-1315 -1315 520 -520 520 -520 1320 1320 1320 1320 -515
                            515 c-283 283 -519 515 -525 515 -6 0 -602 -592 -1325 -1315z" />
                                        <path d="M131 734 c-92 -415 -131 -606 -127 -629 7 -37 39 -70 83 -85 27 -10
                            109 8 619 131 324 78 591 144 594 146 5 4 -1021 1033 -1031 1033 -3 0 -65
                            -268 -138 -596z" />
                    </g>
                </svg>
                </a>
            </button>
        </div>
    <%
        }
    %>
</main>
<%- include("includes/footer"); %>