<%
    var page = (typeof page !== "undefined") ? page : {};
    var homeUrl = (page.curLang.ismain) ? domain : `${domain}/${page.curLang.id}`;
    var pageContent = (page.pageContent) ? page.pageContent : {};
    var slideApks = (page.homeApkChoices) ? page.homeApkChoices : {};
    var gameApks = (page.homeBestGames) ? page.homeBestGames : {};
    var appApks = (page.homeBestApps) ? page.homeBestApps : {};
    var blogs = (page.homeLastestBlogs) ? page.homeLastestBlogs : [];
    var maxApkRecords = 15;
    var categories = (page.catesSidebar) ? page.catesSidebar : [];
    var cateApp = (page.appsSidebar) ? page.appsSidebar : [];
%>
<%- include("includes/header"); %>
<main class="main-mr-top">
    <div class="container mr-top-3">
        <div class="row">
            <main class="col-12 col-lg-9 content-area">
                <section class="bg-white border shadow-sm pt-3 mb-3">
                    <header class="d-flex align-items-end mb-3">
                        <h2 class="h5 font-weight-semibold mb-0">
                           Editor's Choice
                        </h2>
                        
                    </header>
                    <div class="row">
                        <%- include("includes/list-apk", {posts: slideApks.rows}); %>
                    </div>
                </section>
                <section class="bg-white border rounded shadow-sm pt-3 px-2 px-md-3 mb-3">
                    <header class="d-flex align-items-end mb-3">
                        <h2 class="h5 font-weight-semibold mb-0">
                            <a class="text-body" href="<%=homeUrl%>/games/">
                                Games Mod - Latest
                            </a>
                        </h2>
                        <a class="btn btn-primary btn-sm ml-auto" href="<%=homeUrl%>/games/">View More</a>
                    </header>
                    <div class="row">
                        <%- include("includes/list-apk2", {posts: gameApks.rows}); %>
                    </div>
                </section>
                <section class="bg-white border rounded shadow-sm pt-3 px-2 px-md-3 mb-3">
                    <header class="d-flex align-items-end mb-3">
                        <h2 class="h5 font-weight-semibold mb-0">
                            <a class="text-body" href="<%=homeUrl%>/apps/">
                                Premium Apps - Latest
                            </a>
                        </h2>
                        <a class="btn btn-primary btn-sm ml-auto" href="<%=homeUrl%>/apps/">View More</a>
                    </header>
                    <div class="row">
                        <%- include("includes/list-apk2", {posts: appApks.rows}); %>
                    </div>
                </section>
            </main>
            <aside class="col-12 col-lg-3 widget-area">
                <section class="bg-white border rounded shadow-sm pt-3 px-2 px-md-3 mb-3">
                    <header class="d-flex align-items-end mb-3">
                        <h2 class="h5 font-weight-semibold mb-0">
                            <a class="text-body" href="<%=homeUrl%>/games/">
                                Games
                            </a>
                        </h2>
                        <a class="btn btn-primary btn-sm ml-auto" href="<%=homeUrl%>/games/">View More</a>
                    </header>
                    <div class="row">
                        <%- include("includes/list-category", {categories: categories}); %>
                    </div>
                </section>
                <section class="bg-white border rounded shadow-sm pt-3 px-2 px-md-3 mb-3">
                    <header class="d-flex align-items-end mb-3">
                        <h2 class="h5 font-weight-semibold mb-0">
                            <a class="text-body" href="<%=homeUrl%>/apps/">
                                Apps
                            </a>
                        </h2>
                        <a class="btn btn-primary btn-sm ml-auto" href="<%=homeUrl%>/apps/">View More</a>
                    </header>
                    <div class="row">
                        <%- include("includes/list-category", {categories: cateApp}); %>
                    </div>
                </section>
            </aside>
        </div>
    </div>
</main>
<%- include("includes/footer"); %>