<% 
    var page = (typeof page !== "undefined") ? page : {};
    var frmAction = '/account/password';
    frmAction =  (page.curLang.ismain) ? frmAction : `/${page.curLang.id}${frmAction}`;
    var urlWithLang = (page.curLang.ismain) ? "" : `/${page.curLang.id}`;
    var avatarUrl = (session.avatar) ? session.avatar : "/assets/image/no-image-200.jpg";
%>
<%- include("includes/header"); %>
<main id="page-body">    
    <div class="container">
        <div class="page-form-space">
            <div class="box box-profile">
                <div class="title">
                    <ul class="bu-nav">
                        <li>
                            <a href="<%=urlWithLang%>/account/profile" rel="nofollow">
                                <span><%=__('textProfile')%></span>
                            </a>
                        </li>
                        <li class="active">
                            <a href="<%=urlWithLang%>/account/password" rel="nofollow">
                                <span><%=__('textChangePassword')%></span>
                            </a>
                        </li>
                        <li>
                            <a href="<%=urlWithLang%>/account/comment" rel="nofollow">
                                <span><%=__('textComments')%></span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="box-content">                
                    <div class="bp-form">
                        <form class="box-form" action="<%=frmAction%>" method="post">
                            <div class="bf-line">
                                <label><%=__('textCurrentPassword')%></label>
                                <input type="password" name="password" id="password" placeholder="<%=__('textCurrentPassword')%>" required="">
                                <span class="error"></span>
                            </div>
                            <div class="bf-line">
                                <label><%=__('textNewPassword')%></label>
                                <input type="password" name="npassword" id="npassword" placeholder="<%=__('textNewPassword')%>" required="">
                                <span class="error"></span>
                            </div>
                            <div class="bf-line">
                                <label><%=__('textConfirmPassword')%></label>
                                <input type="password" name="cpassword" id="cpassword" placeholder="<%=__('textConfirmPassword')%>" required="">
                                <span class="error"></span>
                            </div>
                            <div class="bf-line bfl-error"></div>
                            <div class="bf-line">   
                                <button class="btn-bff-submit" type="submit"><%=__('textSave')%></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</main>
<%- include("includes/footer"); %>