<%
    var page = (typeof page !== "undefined") ? page : {};
    var homeUrl = (page.curLang.ismain) ? domain : `${domain}/${page.curLang.id}`;
    var apk = (page.pageContent) ? page.pageContent : {};
    var apkMeta = (page.apkMeta) ? page.apkMeta : {};
    var apkMod = (page.apkMod) ? page.apkMod : [];
    var appTitle = apk.title;
    appTitle += (apkMeta.mod_text && apkMeta.mod_text.length>0) ? `(${apkMeta.mod_text})` : "";
    var author = (apk.Author) ? apk.Author : {};
    var authorName = ( author.nickname ) ? author.nickname : `${author.firstname} ${author.lastname}`;
    var thumb = (apk.icon) ? apk.icon : {};
    var thumbnail = (thumb.urlicon) ? thumb.urlicon : `${domain}/assets/image/no-image.jpg`;
    var lastUpdated = functions.formart_datetime(apk.modifiedat, "day");
    var lastUpdatedSEO = functions.formart_datetime(apk.modifiedat, "seo");
    var lastUpdatedText = functions.formart_timestamp_text(apk.modifiedat);
    var _modText = (apkMeta.mod_text) ? apkMeta.mod_text : __('textNoMod');
    var _lastModText = (apkMod.description) ? apkMod.description : __('textNoMod');
    var category = (apk.defaultcate) ? apk.defaultcate : {};
    var btnDownloadText =  `${__('downloadText')} ${apk.title} [${apkMeta.apk_size}]`;
    var slugFromTitle = functions.convert_slug(apk.title);
    var permalinkDownload = `${homeUrl}/download/${slugFromTitle}-${apk.id}`;
    var apkYouLike = (page.apkYouLike && page.apkYouLike.rows) ? page.apkYouLike.rows : [];
    var breadcrumbs = (page.breadcrumbs.html) ? page.breadcrumbs.html : '';
    var curLang = (page.curLang) ? page.curLang : {};
    var comments = (page.comments && page.comments.rows) ? page.comments.rows : [];
    var role = (page.role) ? page.role : {};
    var userRole = (page.userRole) ? page.userRole : {};
    var id = page.pageContent.id;
%>
<%- include("includes/header"); %>
<main class="main-mr-top">
    <div class="py-2">
        <div class="container">
            <ul id="breadcrumb" class="breadcrumb" itemscope="" itemtype="#" itemid="#">
                <%- page.breadcrumbs.html %>
            </ul>
        </div>
    </div>
    <div class="container">
        <article class="bg-white shadow-sm border mx-auto" style="max-width: 880px; height: auto !important;">
            <div class="d-flex px-md-3 mb-3">
                <div class="flex-shrink-0 mr-3" style="width: 4.5rem;">
                    <img width="96" height="96" src="<%=thumbnail%>" alt="Icon <%=appTitle%>"
                       alt="" loading="lazy" sizes="(max-width: 96px) 100vw, 96px">
                </div>
                <div>
                    <h1 class="lead font-weight-semibold">
                        <%=appTitle%>
                    </h1>
                    <time class="text-muted d-block" datetime="<%=lastUpdatedSEO%>">
                        <em><%=lastUpdatedText%></em>
                    </time>
                </div>
            </div>
            <div class="px-md-3">
                <div class="small bg-light mb-3 entry-content" style="margin-top: 1.5rem;">
                    <p><em><%-apk.description%></em></p>
                </div>
                <table class="table">
                    <tbody>
                        <tr>
                            <th style="width: 45%;">
                                <svg class="svg-5 svg-primary mr-1" xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 576 512">
                                    <path
                                        d="M420.55,301.93a24,24,0,1,1,24-24,24,24,0,0,1-24,24m-265.1,0a24,24,0,1,1,24-24,24,24,0,0,1-24,24m273.7-144.48,47.94-83a10,10,0,1,0-17.27-10h0l-48.54,84.07a301.25,301.25,0,0,0-246.56,0L116.18,64.45a10,10,0,1,0-17.27,10h0l47.94,83C64.53,202.22,8.24,285.55,0,384H576c-8.24-98.45-64.54-181.78-146.85-226.55">
                                    </path>
                                </svg>
                                <%=__('appInforName')%>
                            </th>
                            <td style="width: 55%;"><%=apk.title%></td>
                        </tr>
                        <% 
                            var developer_name=(apkMeta.developer_name) ? apkMeta.developer_name : "" ; 
                            var developer_slug=functions.convert_slug(developer_name);
                            if(developer_name.length>0){
                        %>
                        <tr>
                            <th style="width: 45%;">
                                <svg class="svg-5 svg-primary mr-1" xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 512 512">
                                    <path
                                        d="M501.1 395.7L384 278.6c-23.1-23.1-57.6-27.6-85.4-13.9L192 158.1V96L64 0 0 64l96 128h62.1l106.6 106.6c-13.6 27.8-9.2 62.3 13.9 85.4l117.1 117.1c14.6 14.6 38.2 14.6 52.7 0l52.7-52.7c14.5-14.6 14.5-38.2 0-52.7zM331.7 225c28.3 0 54.9 11 74.9 31l19.4 19.4c15.8-6.9 30.8-16.5 43.8-29.5 37.1-37.1 49.7-89.3 37.9-136.7-2.2-9-13.5-12.1-20.1-5.5l-74.4 74.4-67.9-11.3L334 98.9l74.4-74.4c6.6-6.6 3.4-17.9-5.7-20.2-47.4-11.7-99.6.9-136.6 37.9-28.5 28.5-41.9 66.1-41.2 103.6l82.1 82.1c8.1-1.9 16.5-2.9 24.7-2.9zm-103.9 82l-56.7-56.7L18.7 402.8c-25 25-25 65.5 0 90.5s65.5 25 90.5 0l123.6-123.6c-7.6-19.9-9.9-41.6-5-62.7zM64 472c-13.2 0-24-10.8-24-24 0-13.3 10.7-24 24-24s24 10.7 24 24c0 13.2-10.7 24-24 24z">
                                    </path>
                                </svg>
                                <%=__('appInforDeveloper')%>
                            </th>
                            <td style="width: 55%;">
                                <a href="<%=homeUrl%>/developer/<%=developer_slug%>">
                                    <%=developer_name%>
                                </a>
                            </td>
                        </tr>
                        <% } %>
                        <% if(category){ %>
                        <tr>
                            <th>
                                <svg class="svg-5 svg-primary mr-1" xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 512 512">
                                    <path
                                        d="M48 48a48 48 0 1 0 48 48 48 48 0 0 0-48-48zm0 160a48 48 0 1 0 48 48 48 48 0 0 0-48-48zm0 160a48 48 0 1 0 48 48 48 48 0 0 0-48-48zm448 16H176a16 16 0 0 0-16 16v32a16 16 0 0 0 16 16h320a16 16 0 0 0 16-16v-32a16 16 0 0 0-16-16zm0-320H176a16 16 0 0 0-16 16v32a16 16 0 0 0 16 16h320a16 16 0 0 0 16-16V80a16 16 0 0 0-16-16zm0 160H176a16 16 0 0 0-16 16v32a16 16 0 0 0 16 16h320a16 16 0 0 0 16-16v-32a16 16 0 0 0-16-16z">
                                    </path>
                                </svg>
                                <%=__('appInforCategory')%>
                            </th>
                            <td>
                                <a href="<%=homeUrl%>/<%=category.fullslug%>">
                                    <%=category.title%>
                                </a>
                            </td>
                        </tr>
                        <% } %>
                        <tr>
                            <th>
                                <svg class="svg-5 svg-primary mr-1" xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 576 512">
                                    <path
                                        d="M567.938 243.908L462.25 85.374A48.003 48.003 0 0 0 422.311 64H153.689a48 48 0 0 0-39.938 21.374L8.062 243.908A47.994 47.994 0 0 0 0 270.533V400c0 26.51 21.49 48 48 48h480c26.51 0 48-21.49 48-48V270.533a47.994 47.994 0 0 0-8.062-26.625zM162.252 128h251.497l85.333 128H376l-32 64H232l-32-64H76.918l85.334-128z">
                                    </path>
                                </svg>
                                <%=__('appInforSize')%>
                            </th>
                            <td><%=apkMeta.apk_size%></td>
                        </tr>
                        <tr>
                            <th>
                                <svg class="svg-5 svg-primary mr-1" xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 320 512">
                                    <path
                                        d="M296 160H180.6l42.6-129.8C227.2 15 215.7 0 200 0H56C44 0 33.8 8.9 32.2 20.8l-32 240C-1.7 275.2 9.5 288 24 288h118.7L96.6 482.5c-3.6 15.2 8 29.5 23.3 29.5 8.4 0 16.4-4.4 20.8-12l176-304c9.3-15.9-2.2-36-20.7-36z">
                                    </path>
                                </svg>
                                <%=__('appInforLastVersion')%>
                            </th>
                            <td><%=page.apkMeta.version%></td>
                        </tr>
                        <tr>
                            <th>
                                <svg class="svg-5 svg-primary mr-1" xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 640 512">
                                    <path
                                        d="M480.07 96H160a160 160 0 1 0 114.24 272h91.52A160 160 0 1 0 480.07 96zM248 268a12 12 0 0 1-12 12h-52v52a12 12 0 0 1-12 12h-24a12 12 0 0 1-12-12v-52H84a12 12 0 0 1-12-12v-24a12 12 0 0 1 12-12h52v-52a12 12 0 0 1 12-12h24a12 12 0 0 1 12 12v52h52a12 12 0 0 1 12 12zm216 76a40 40 0 1 1 40-40 40 40 0 0 1-40 40zm64-96a40 40 0 1 1 40-40 40 40 0 0 1-40 40z">
                                    </path>
                                </svg>
                                <%=__('appInforMod')%>
                            </th>
                            <td><%=_modText%></td>
                        </tr>
                        <% if(apkMeta.package_name && apkMeta.playstore_url){ %>
                        <tr>
                            <th>
                                <svg class="svg-5 svg-primary mr-1" xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 512 512">
                                    <path
                                        d="M325.3 234.3L104.6 13l280.8 161.2-60.1 60.1zM47 0C34 6.8 25.3 19.2 25.3 35.3v441.3c0 16.1 8.7 28.5 21.7 35.3l256.6-256L47 0zm425.2 225.6l-58.9-34.1-65.7 64.5 65.7 64.5 60.1-34.1c18-14.3 18-46.5-1.2-60.8zM104.6 499l280.8-161.2-60.1-60.1L104.6 499z">
                                    </path>
                                </svg>
                                <%=__('appInforPlayLink')%>
                            </th>
                            <td>
                                <a href="<%=apkMeta.playstore_url%>"
                                    rel="nofollow" target="_blank">
                                    <!-- <%=apkMeta.package_name%> -->
                                    <img src="/assets/image/google-play.png" alt="">
                                </a>
                            </td>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
            <a class="btn btn-primary btn-block mb-3" href="#">
                <svg class="svg-5 mr-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                    <path
                        d="M528 288h-92.1l46.1-46.1c30.1-30.1 8.8-81.9-33.9-81.9h-64V48c0-26.5-21.5-48-48-48h-96c-26.5 0-48 21.5-48 48v112h-64c-42.6 0-64.2 51.7-33.9 81.9l46.1 46.1H48c-26.5 0-48 21.5-48 48v128c0 26.5 21.5 48 48 48h480c26.5 0 48-21.5 48-48V336c0-26.5-21.5-48-48-48zm-400-80h112V48h96v160h112L288 368 128 208zm400 256H48V336h140.1l65.9 65.9c18.8 18.8 49.1 18.7 67.9 0l65.9-65.9H528v128zm-88-64c0-13.3 10.7-24 24-24s24 10.7 24 24-10.7 24-24 24-24-10.7-24-24z">
                    </path>
                </svg>
                <span class="align-middle">Download (<%=apkMeta.apk_size%>)</span>
            </a>
            <div class="mb-3">
                <details>
                    <summary class="bg-light">Explore this article</summary>
                    <div>
                        <div class="bg-light dp-bg-block">
                            <div class="links">
                                <a class="d-block" href="#">MINE EXPLORATION JOURNEY</a>
                                <a class="d-block" href="#">COMPLETE THE PROCESS CORRECTLY</a>
                                <a class="d-block" href="#">UPGRADE STAFF AND UNLOCK DEEPER FLOORS</a>
                                <a class="d-block" href="#">KEY FEATURES</a>
                            </div>
                            <a href="#btn-download">Download</a>
                        </div>
                    </div>
                </details>
            </div>
            <div class="mb-3">
                <h2 class="h5 font-weight-semibold mb-0">Description of Pictures</h2>
            </div>
            <div class="display-slide">
                <% if(page.screenshoots && page.screenshoots.length> 0){
                    %>
                    <div class="display-posi">
                        <% page.screenshoots.forEach(function(ss, index){ %>
                            <div class="mySlides" style="display: block;text-align: center;">
                                <img src="<%=ss.url%>" alt="<%=appTitle%> <%=(index+1)%>" data-filename=""><span
                                    class="Apple-converted-space">
                                    <br>
                                </span>
                            </div>

                            <% }) %>

                                <div class="btn-prev-next">
                                    <button class="btn-display-left" onclick="plusDivs(-1)"><img class="width-next"
                                            src="/assets/image/slider_back.png" alt=""></button>
                                    <button class="btn-display-right" onclick="plusDivs(1)"><img class="width-next"
                                            src="/assets/image/slider_back.png" alt=""></button>
                                </div>
                    </div>
                    <ul class="custom-scrollbar">
                        <% page.screenshoots.forEach(function(ss, index){ %>
                            <li class="scrollbar-bot active"></li>
                            <% }) %>

                    </ul>
                    <% } %>
            </div>
            <div class="mb-3 entry-content">
                <p><%-apk.content%></p>
            </div>
            <h2  class="h5 font-weight-semibold mb-3"><%=appTitle%> <%=page.apkMeta.version%> <%=_modText%> Download</h2>
            <a id="btn-download" class="btn btn-primary btn-block mb-3" href="#">
                <svg class="svg-5 mr-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                    <path
                        d="M528 288h-92.1l46.1-46.1c30.1-30.1 8.8-81.9-33.9-81.9h-64V48c0-26.5-21.5-48-48-48h-96c-26.5 0-48 21.5-48 48v112h-64c-42.6 0-64.2 51.7-33.9 81.9l46.1 46.1H48c-26.5 0-48 21.5-48 48v128c0 26.5 21.5 48 48 48h480c26.5 0 48-21.5 48-48V336c0-26.5-21.5-48-48-48zm-400-80h112V48h96v160h112L288 368 128 208zm400 256H48V336h140.1l65.9 65.9c18.8 18.8 49.1 18.7 67.9 0l65.9-65.9H528v128zm-88-64c0-13.3 10.7-24 24-24s24 10.7 24 24-10.7 24-24 24-24-10.7-24-24z">
                    </path>
                </svg>
                <span class="align-middle">Download (<%=apkMeta.apk_size%>)</span>
            </a>
            <div class="small mb-3 list-style">
                <p><em>You are now ready to download <strong><%=appTitle%>&nbsp;</strong>for free. Here are some
                        notes:</em></p>
                <ul>
                    <li><em>Please read our MOD Info and installation instructions carefully for the game &amp; app
                            to work properly</em></li>
                    <li><em>Downloading via 3rd party software like IDM, ADM (Direct link) is currently blocked for
                            abuse reasons.</em></li>
                </ul>
            </div>
            <div class="text-center mb-3">
                <a class="btn btn-info rounded-pill" href="#" target="_blank"
                    rel="nofollow">
                    <svg class="svg-5 mr-1" fill="#fff" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                        <path
                            d="M446.7 98.6l-67.6 318.8c-5.1 22.5-18.4 28.1-37.3 17.5l-103-75.9-49.7 47.8c-5.5 5.5-10.1 10.1-20.7 10.1l7.4-104.9 190.9-172.5c8.3-7.4-1.8-11.5-12.9-4.1L117.8 284 16.2 252.2c-22.1-6.9-22.5-22.1 4.6-32.7L418.2 66.4c18.4-6.9 34.5 4.1 28.5 32.2z">
                        </path>
                    </svg>
                    Join @MODYOLO.COM on Telegram channel </a>
            </div>
            <div class="text-center border-top border-bottom d-flex align-items-center justify-content-center py-3 mb-3">
                <div class="rating jq-ry-container" style="width: 100px;">
                    <div class="jq-ry-group-wrapper">
                        <div class="jq-ry-normal-group jq-ry-group">
                            <svg version="1.1"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 12.705 512 486.59" x="0px" y="0px"
                                xml:space="preserve" width="20px" height="20px" fill="gray">
                                <polygon
                                    points="256.814,12.705 317.205,198.566 512.631,198.566 354.529,313.435 414.918,499.295 256.814,384.427 98.713,499.295 159.102,313.435 1,198.566 196.426,198.566 ">
                                </polygon>
                            </svg>
                            <svg version="1.1"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 12.705 512 486.59" x="0px" y="0px"
                                xml:space="preserve" width="20px" height="20px" fill="gray"
                                style="margin-left: 0px;">
                                <polygon
                                    points="256.814,12.705 317.205,198.566 512.631,198.566 354.529,313.435 414.918,499.295 256.814,384.427 98.713,499.295 159.102,313.435 1,198.566 196.426,198.566 ">
                                </polygon>
                            </svg>
                            <svg version="1.1"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 12.705 512 486.59" x="0px" y="0px"
                                xml:space="preserve" width="20px" height="20px" fill="gray"
                                style="margin-left: 0px;">
                                <polygon
                                    points="256.814,12.705 317.205,198.566 512.631,198.566 354.529,313.435 414.918,499.295 256.814,384.427 98.713,499.295 159.102,313.435 1,198.566 196.426,198.566 ">
                                </polygon>
                            </svg>
                            <svg version="1.1"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 12.705 512 486.59" x="0px" y="0px"
                                xml:space="preserve" width="20px" height="20px" fill="gray"
                                style="margin-left: 0px;">
                                <polygon
                                    points="256.814,12.705 317.205,198.566 512.631,198.566 354.529,313.435 414.918,499.295 256.814,384.427 98.713,499.295 159.102,313.435 1,198.566 196.426,198.566 ">
                                </polygon>
                            </svg>
                            <svg version="1.1"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 12.705 512 486.59" x="0px" y="0px"
                                xml:space="preserve" width="20px" height="20px" fill="gray"
                                style="margin-left: 0px;">
                                <polygon
                                    points="256.814,12.705 317.205,198.566 512.631,198.566 354.529,313.435 414.918,499.295 256.814,384.427 98.713,499.295 159.102,313.435 1,198.566 196.426,198.566 ">
                                </polygon>
                            </svg>
                        </div>
                        <div class="jq-ry-rated-group jq-ry-group" style="width: 100%;">
                            <svg version="1.1"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 12.705 512 486.59" x="0px" y="0px"
                                xml:space="preserve" width="20px" height="20px" fill="#f39c12">
                                <polygon
                                    points="256.814,12.705 317.205,198.566 512.631,198.566 354.529,313.435 414.918,499.295 256.814,384.427 98.713,499.295 159.102,313.435 1,198.566 196.426,198.566 ">
                                </polygon>
                            </svg>
                            <svg version="1.1"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 12.705 512 486.59" x="0px" y="0px"
                                xml:space="preserve" width="20px" height="20px" fill="#f39c12"
                                style="margin-left: 0px;">
                                <polygon
                                    points="256.814,12.705 317.205,198.566 512.631,198.566 354.529,313.435 414.918,499.295 256.814,384.427 98.713,499.295 159.102,313.435 1,198.566 196.426,198.566 ">
                                </polygon>
                            </svg>
                            <svg version="1.1"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 12.705 512 486.59" x="0px" y="0px"
                                xml:space="preserve" width="20px" height="20px" fill="#f39c12"
                                style="margin-left: 0px;">
                                <polygon
                                    points="256.814,12.705 317.205,198.566 512.631,198.566 354.529,313.435 414.918,499.295 256.814,384.427 98.713,499.295 159.102,313.435 1,198.566 196.426,198.566 ">
                                </polygon>
                            </svg>
                            <svg version="1.1"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 12.705 512 486.59" x="0px" y="0px"
                                xml:space="preserve" width="20px" height="20px" fill="#f39c12"
                                style="margin-left: 0px;">
                                <polygon
                                    points="256.814,12.705 317.205,198.566 512.631,198.566 354.529,313.435 414.918,499.295 256.814,384.427 98.713,499.295 159.102,313.435 1,198.566 196.426,198.566 ">
                                </polygon>
                            </svg>
                            <svg version="1.1"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 12.705 512 486.59" x="0px" y="0px"
                                xml:space="preserve" width="20px" height="20px" fill="#f39c12"
                                style="margin-left: 0px;">
                                <polygon
                                    points="256.814,12.705 317.205,198.566 512.631,198.566 354.529,313.435 414.918,499.295 256.814,384.427 98.713,499.295 159.102,313.435 1,198.566 196.426,198.566 ">
                                </polygon>
                            </svg>
                        </div>
                    </div>
                </div>
                <span class="ml-2">
                    5/5 (3 votes)
                </span>
            </div>
            <ul class="nav mb-4 list-shares">
                <li class="mr-2">
                    <a class="facebook"
                        href="#"
                        rel="nofollow" target="_blank">
                        <svg class="svg-5" fill="#fff" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                            <path
                                d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z">
                            </path>
                        </svg>
                    </a>
                </li>
                <li class="mr-2">
                    <a class="twitter"
                        href="#"
                        rel="nofollow" target="_blank">
                        <svg class="svg-5" fill="#fff" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                            <path
                                d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z">
                            </path>
                        </svg>
                    </a>
                </li>
                <li class="mr-2">
                    <a class="pinterest"
                        href="#"
                        rel="nofollow" target="_blank">
                        <svg class="svg-5" fill="#fff" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                            <path
                                d="M204 6.5C101.4 6.5 0 74.9 0 185.6 0 256 39.6 296 63.6 296c9.9 0 15.6-27.6 15.6-35.4 0-9.3-23.7-29.1-23.7-67.8 0-80.4 61.2-137.4 140.4-137.4 68.1 0 118.5 38.7 118.5 109.8 0 53.1-21.3 152.7-90.3 152.7-24.9 0-46.2-18-46.2-43.8 0-37.8 26.4-74.4 26.4-113.4 0-66.2-93.9-54.2-93.9 25.8 0 16.8 2.1 35.4 9.6 50.7-13.8 59.4-42 147.9-42 209.1 0 18.9 2.7 37.5 4.5 56.4 3.4 3.8 1.7 3.4 6.9 1.5 50.4-69 48.6-82.5 71.4-172.8 12.3 23.4 44.1 36 69.3 36 106.2 0 153.9-103.5 153.9-196.8C384 71.3 298.2 6.5 204 6.5z">
                            </path>
                        </svg>
                    </a>
                </li>
                <li class="mr-2">
                    <a class="linkedin"
                        href="#"
                        rel="nofollow" target="_blank">
                        <svg class="svg-5" fill="#fff" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                            <path
                                d="M100.28 448H7.4V148.9h92.88zM53.79 108.1C24.09 108.1 0 83.5 0 53.8a53.79 53.79 0 0 1 107.58 0c0 29.7-24.1 54.3-53.79 54.3zM447.9 448h-92.68V302.4c0-34.7-.7-79.2-48.29-79.2-48.29 0-55.69 37.7-55.69 76.7V448h-92.78V148.9h89.08v40.8h1.3c12.4-23.5 42.69-48.3 87.88-48.3 94 0 111.28 61.9 111.28 142.3V448z">
                            </path>
                        </svg>
                    </a>
                </li>
                <li class="mr-2">
                    <a class="email"
                        href="#"
                        rel="nofollow" target="_blank">
                        <svg class="svg-5" fill="#fff" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                            <path
                                d="M502.3 190.8c3.9-3.1 9.7-.2 9.7 4.7V400c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V195.6c0-5 5.7-7.8 9.7-4.7 22.4 17.4 52.1 39.5 154.1 113.6 21.1 15.4 56.7 47.8 92.2 47.6 35.7.3 72-32.8 92.3-47.6 102-74.1 131.6-96.3 154-113.7zM256 320c23.2.4 56.6-29.2 73.4-41.4 132.7-96.3 142.8-104.7 173.4-128.7 5.8-4.5 9.2-11.5 9.2-18.9v-19c0-26.5-21.5-48-48-48H48C21.5 64 0 85.5 0 112v19c0 7.4 3.4 14.3 9.2 18.9 30.6 23.9 40.7 32.4 173.4 128.7 16.8 12.2 50.2 41.8 73.4 41.4z">
                            </path>
                        </svg>
                    </a>
                </li>
            </ul>
        </article>
        <!-- <section class="bg-white border shadow-sm pt-3 mb-3 mx-auto">
            <header class="d-flex align-items-end mb-3">
                <h2 class="h5 font-weight-semibold mb-0">
                    More from Developer
                </h2>
            </header>
            
            <div class="row">
            </div>
            
        </section> -->
        <section class="bg-white border shadow-sm pt-3 mb-3 mx-auto">
            <header class="d-flex align-items-end mb-3">
                <h2 class="h5 font-weight-semibold mb-0">
                    Recommended for You
                </h2>
            </header>
            <% if(page.apkYouLike.count> 0){ %>
            <div class="row">
                <%- include("includes/list-apk2", {posts: apkYouLike}); %>
            </div>
            <% } %>
        </section>
        <section class="bg-white border rounded shadow-sm pt-3 px-2 px-md-3 mb-3 mx-auto" style="max-width: 880px;">
            <%- include("includes/comment-box"); %>
        </section>
    </div>

    <%
        if(userRole.rolename == role.rolename && userRole.ismaster == role.ismaster){
    %>
        <div class="sidebar-add">
            <button class="add-new">
                <a href="/<%=dashboard%>/post/post-apk/add">
                    <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="512.000000pt"
                    height="512.000000pt" viewBox="0 0 512.000000 512.000000"
                    preserveAspectRatio="xMidYMid meet">
                    <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)" fill="#ffffff"
                        stroke="none">
                        <path d="M2492 5109 c-45 -13 -108 -80 -121 -126 -7 -26 -11 -392 -11 -1130
                            l0 -1093 -1113 -2 -1113 -3 -41 -27 c-63 -41 -88 -90 -88 -169 0 -54 5 -72 27
                            -106 15 -22 44 -51 65 -64 l38 -24 1112 -3 1113 -2 2 -1113 3 -1112 24 -38
                            c13 -21 42 -50 64 -65 34 -23 52 -27 107 -27 55 0 73 4 107 27 22 15 51 44 64
                            65 l24 38 3 1112 2 1113 1113 2 1112 3 38 24 c21 13 50 42 65 64 23 34 27 52
                            27 107 0 55 -4 73 -27 107 -15 22 -44 51 -65 64 l-38 24 -1112 3 -1113 2 -2
                            1113 -3 1112 -24 38 c-47 76 -151 113 -239 86z" />
                    </g>
                </svg>
                </a>
            </button>
            <button class="eidt">
                <a href="/<%=dashboard%>/post/post-apk/edit/<%=id%>">
                    <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="512.000000pt"
                    height="512.000000pt" viewBox="0 0 512.000000 512.000000"
                    preserveAspectRatio="xMidYMid meet">

                    <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)" fill="#ffffff"
                        stroke="none">
                        <path d="M4135 5099 c-27 -6 -79 -24 -115 -41 -56 -27 -99 -65 -315 -279
                            l-250 -248 522 -523 523 -523 251 250 c137 138 270 276 293 307 81 106 96 245
                            41 367 -21 45 -74 104 -288 319 -268 271 -340 330 -431 357 -67 20 -170 26
                            -231 14z" />
                                        <path d="M1860 2935 l-1315 -1315 520 -520 520 -520 1320 1320 1320 1320 -515
                            515 c-283 283 -519 515 -525 515 -6 0 -602 -592 -1325 -1315z" />
                                        <path d="M131 734 c-92 -415 -131 -606 -127 -629 7 -37 39 -70 83 -85 27 -10
                            109 8 619 131 324 78 591 144 594 146 5 4 -1021 1033 -1031 1033 -3 0 -65
                            -268 -138 -596z" />
                    </g>
                </svg>
                </a>
            </button>
        </div>
    <%
        }
    %>
</main>
<%- include("includes/footer"); %>