
<%
    var page = (typeof page !== "undefined") ? page : {};
    var pageContent = (page.pageContent) ? page.pageContent : {};
    var curLang = (page.curLang) ? page.curLang : {};
    var comment = (comment) ? comment : {};
    var avatar = "/assets/image/none.png";
    var createdAt = functions.formart_timestamp_text(comment.createdAt);
    var textReplyTo = "Reply to";
    var textReply = "Reply";
    var textSeeMoreReply = "See more replies";
    var parentId = (comment.id) ? comment.id : pageContent.id;
%>
<li class="comment mb-3" data-id="<%=comment.id%>" data-text="<%=textReplyTo%>">
    <img class="avatar" src="<%=avatar%>" alt="<%=comment.name%>">
    <div class="info">
        <div class="user">
            <div class="name mb-1">
                <%=comment.name%>
            </div>
        </div>
        <div class="content small mb-1"><%=comment.content%></div>
        <ul class="links">
            <li>
                <a href="javascript:void(0)" class="btn-icon reply">
                    <span><%=textReply%></span>
                </a>
            </li>
            <li><span class="time">- <%=createdAt%></span></li>
        </ul>
        <%- //include("comment-loop", {comments: comment.allchildren, className: "list-replies"}) %>
        <%
            if(comment.countchilds > 0){
        %>
                <ul class="list-replies"></ul>
                <div class="wraploadmore">
                    <a href="javascript:void(0)" class="btn-seemore btn-seemore-reply" rel="nofollow" data-pid="<%=parentId%>" data-total="<%=comment.countchilds%>">
                        <%=textSeeMoreReply%> (<span><%=comment.countchilds%></span>)
                    </a>
                </div>
        <%
            }
        %>
    </div>
</li>